.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
  }
  
  h1 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
  }
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #0066ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0044cc;
  }
  